<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to GreyLightning!
  </h1>
  <img width="500" alt="Angular Logo" src="/assets/greylightning logo large.png">
</div>
<tabset type="pills">
  <tab heading="Home">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7m56yCM16Ww" frameborder="0" gesture="media" allow="encrypted-media"
      allowfullscreen></iframe>
  </tab>
  <tab heading="Making Things">Pills content 1</tab>
  <tab heading="Playing Games">Pills content 2</tab>
</tabset>